extends layout

block content
  h1= title

  h2 Your character

  = character.name
  = character.layout

  = character.layout.length

  #sunspots.sunspots

  script(type="text/javascript" src="/js/simulator.js")
  script
    | Sunspots.draw(function() { return '#{character.layout}'.split('')})
