extends layout
block content
    h1= title
    h2 Update
    form(action="/characters/#{character.id}/update", method="post")
        input(type="hidden", name="_method" value="put")
        input(type="text", name="name" value=character.name)
        input(type="textarea", name="layout" value=character.layout)
        input(type="submit")
