doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/pure/base.css")
    link(rel="stylesheet" href="/pure/buttons.css")
    link(rel="stylesheet" href="/pure/forms.css")
    link(rel="stylesheet" href="/pure/menus.css")
    link(rel="stylesheet" href="/pure/grids-responsive.css")

  body
    include ./includes/head.jade
    block content
    include ./includes/foot.jade
