doctype html
html
  head
    title!=title
    link(rel="stylesheet" href="/css/style.css")

  body
    #sunspots.sunspots

  script(type="text/javascript" src="/js/simulator.js")
  script(type="text/javascript" src="/js/demo_0.js")
  script(type="text/javascript" src="/js/demo_1.js")
