extends layout

block head
  link(rel="stylesheet" href="/codemirror/lib/codemirror.css")

block content
  #sunspots.sunspots
  form.pure-form.program
    #panel_js
      input#simulator-input.pure-input

  ul.pure-menu-list
    li.pure-menu-item
      button.pure-button(onClick="javascript:Demo.fetchJs('simulator-input', 'demo_0.js', 'Demo0.tick');") load demo 0
    li.pure-menu-item
      button.pure-button(onClick="javascript:Demo.fetchJs('simulator-input', 'demo_1.js', 'Demo1.tick');") load demo 1
    li.pure-menu-item
      button.pure-button(onClick="javascript:Demo.fetchJs('simulator-input', 'demo_2.js', 'Demo2.tick');") load demo 2
    li.pure-menu-item
      button.pure-button(onClick="javascript:Demo.fetchJs('simulator-input', 'demo_3.js', 'Demo3.tick');") load demo 3
    li.pure-menu-item
      button.pure-button(onClick="javascript:Demo.fetchJs('simulator-input', 'demo_4.js', 'Demo4.tick');") load demo 4
    li.pure-menu-item
      button.pure-button(onClick="javascript:eval(myCodeMirror.getValue());") run

block javascript
  script(type="text/javascript" src="/codemirror/lib/codemirror.js")
  script(type="text/javascript" src="/codemirror/mode/javascript/javascript.js")
  script(type="text/javascript" src="/js/demo.js")
  script(type="text/javascript" src="/js/simulator.js")
  script(type="text/javascript")
    | var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("simulator-input"), {
    |   lineNumbers: true,
    |   mode: "javascript"
    | });

