.sunspots {
    background-color: gray;
    width: 384px;
    height: 384px;
    display: inline-block;
    position: relative;
}
.sunspot.active {
    background-color: white;
}
.sunspot {
    border-radius: 20px;
    background-color: gray;
    width: 40px;
    height: 40px;
    margin: 4px;
    position: absolute;
}
.x_0 { left: 0px; }
.x_1 { left: 48px; }
.x_2 { left: 96px; }
.x_3 { left: 144px; }
.x_4 { left: 192px; }
.x_5 { left: 240px; }
.x_6 { left: 288px; }
.x_7 { left: 336px; }

.y_0 { top: 0px; }
.y_1 { top: 48px; }
.y_2 { top: 96px; }
.y_3 { top: 144px; }
.y_4 { top: 192px; }
.y_5 { top: 240px; }
.y_6 { top: 288px; }
.y_7 { top: 336px; }
